* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Nunito", sans-serif;
}

.maker-section {
  width: 90%;
  display: flex;
  gap: 2em;
  margin: 5em auto;
  flex-wrap: wrap;
}
.maker-name {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(70, 65, 65);
  font-weight: 700;
}
.maker-wrapper {
  width: 23%;
  color: rgb(70, 65, 65);
  height: 15em;
  text-align: left;
  margin-bottom: 4em;
}

.maker {
  width: 100%;
  height: 83%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.maker-footer {
  padding: 0.5em 0.3em 0 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-maker {
  padding: 0.25em 1em;
  font-size: 1.5rem;
  margin-left: 88%;
  margin-top: 1em;
  background-color: tomato;
  border: none;
  color: black;
  border-radius: 3.5px;
  cursor: pointer;
  font-weight: 600;
}
.maker-footer .fa-trash {
  cursor: pointer;
}
