@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.header {
  background-color: black;
  text-align: center;
  padding: 1em;
}

.main-header {
  color: tomato;
  font-size: 3.5rem;
  font-family: "Dancing Script", cursive;
  letter-spacing: 0.5em;
}

.link {
  text-decoration: none;
}
